

.bookContainer{
  display: flex;
  gap:2px;
  padding:40px 20px 0;
  position: relative;
  &::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -16px;
    height: 16px;
    left: 0;
    width: 100%;

    z-index:1;
    box-shadow: 0px -5px 3px 0px rgba(170, 170, 170, 0.1),
    0px 15px 20px 0px rgba(170, 170, 170, 0.4),
    0px 5px 5px 0px rgba(119, 119, 119, 0.0);
  }

  img{
    width: auto;
    height: 20rem;
    box-shadow:0px -1px 10px 1px rgba(170, 170, 170, 0.2);
  }


  
}