.progressBar {
  display: flex;
  align-items: center;
  gap: 0.4rem 1rem;
  width: 100%;
  flex-wrap: wrap;

  .label {
    font-size: 0.9em;
    width: 100%;
    position: relative;
    padding-left: 0.9em;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0.2rem;
      transform: translateY(-50%);
      width: 0.4em;
      height: 0.4em;
      background-color: var(--grayLv3);
      margin-right: 0.5em;
    }
  }
  .progress {
    position: relative;
    background-color: var(--activation);
    flex-grow: 1;
  }
  .progress,
  .bar {
    border-radius: 2rem;
  }

  .bar {
    background-color: var(--primary);

    height: 100%;
  }
  .total {
    position: absolute;
    top: 50%;

    background-color: var(--primary);

    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid var(--background);
    transform: translate(-50%, -50%);

    &::after {
      content: '';
      background: url(/images/icon/flag.svg) no-repeat right 50% / 80%;
      display: block;
      width: 3.2rem;
      height: 3.2rem;

      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-31%, -110%);
    }
  }
  .text {
    strong {
      color: var(--primary);
      font-size: 1.2em;
    }
  }
}
