@import '@/styles/var.scss';

.tabWrap {
  display: flex;
  gap: 1rem 0.5rem;
  flex-wrap: wrap;
}
.tabBtn {
  height: 2.4em;
  padding: 0 1.2em;
  border-radius: 1.5rem;
  font-size: fcSize(12, 14);
  border: 1px solid var(--grayLv2);
  color: var(--grayLv3);
  transition: all 0.3s;

  span {
    font-weight: normal;
  }
  &:not(.active):hover {
    background-color: rgba(var(--primary-rgb), 0.05);
    color: var(--primary);
    border-color: rgba(var(--primary-rgb), 0.5);
  }
  &.active {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
    font-weight: 600;
  }
}
