@import '@/styles/var.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  border-bottom: 1px solid var(--grayLv1);
  padding: 0 $pad;
  background-color: var(--background);

  &__h1 {
    font-size: 2em;
    line-height: 1;
    margin-top: -0.3em;
    display: block;
    span {
      display: inline-block;
      color: var(--error);
      scale: 1.5;
    }
  }
  &__right {
    display: flex;
    gap: 1rem;
  }
}
