@import '@/styles/var.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  border-bottom: 1px solid var(--grayLv1);
  padding: 0 $pad;
  background-color: var(--background);

  &__h1 {
    font-size: 2em;
    line-height: 1;
    margin-top: -0.3em;
    display: block;
    span {
      display: inline-block;
      color: var(--error);
      scale: 1.5;
    }
  }
  &__right {
    margin-right: -1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    a,
    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    button.iconBtn {
      margin-right: 1rem;
    }
  }
}

.skeleton {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
