@import '@/styles/var.scss';

.wrap {
  margin: 4rem auto;

  h2 {
    margin-bottom: 1rem;
  }
}
.bookCreate {
  $gap: fcSize(40, 80);
  display: flex;
  align-items: flex-start;
  gap: $gap;
  margin-top: 3rem;
  width: 100%;

  .coverWrap {
    flex-shrink: 0;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    .coverBox {
      width: fcSize(200, 240);
      aspect-ratio: 300/400;
      background-color: var(--grayLv1);
      border: 1px solid var(--grayLv2);
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: var(--grayLv3);
      overflow: hidden;
    }
  }

  .form {
    flex-grow: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @media screen and (min-width: 641px) {
    .coverWrap {
      padding-right: $gap;
      border-right: 1px solid var(--grayLv2);
    }
  }
  @media screen and (max-width: 640px) {
    flex-direction: column;
    align-items: center;
  }
}
