@import '@/styles/var.scss';

$size: 3.2rem;
$bottom: 1rem;

.section {
  position: relative;
  z-index: 1;
  height: fcSize(140, 160);

  border-radius: 1.6rem;
  overflow: hidden;
  margin-top: fcSize(-70, -80);
  background-color: var(--grayLv2);

  div[class^='swiper-pagination'] {
    right: 6rem;
    left: auto;
    width: 7rem;
    height: $size;
    bottom: $bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
  }
  [class^='swiper-pagination-current'] {
    font-weight: 600;
    color: #fff;
  }
  [class^='swiper-button-prev'],
  [class^='swiper-button-next'] {
    position: absolute;
    top: auto;
    bottom: $bottom;
    width: $size;
    height: $size;
    margin-top: 0;
    z-index: 100;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);

    &::after {
      font-size: 2rem;
    }
  }
  [class^='swiper-button-prev'] {
    left: auto;
    right: 11rem;
  }
  [class^='swiper-button-next'] {
    left: auto;
    right: 5rem;
  }
}

.slideItem {
  height: fcSize(140, 160);
  box-sizing: border-box;
  border-radius: 1.6rem;

  display: flex;
  align-items: center;

  padding: fcSize(20, 40) fcSize(20, 40) fcSize(35, 60) fcSize(20, 40);
  p {
    opacity: 0.85;
  }
}

.autoPlayLine {
  width: calc(100% - 18rem);
  height: $size;
  display: flex;
  align-items: center;
  z-index: 100;
  position: absolute;
  left: fcSize(20, 40);
  bottom: $bottom;

  .line {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.5);
    .line2 {
      display: block;
      width: 100%;
      height: 100%;
      transform-origin: left center;
      transform: scaleX(var(--progress, 0));
      transition: transform 0.1s linear;
      background-color: #fff;
    }
  }
}

.playButton {
  position: absolute;
  z-index: 100;
  right: 2rem;
  bottom: $bottom;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1rem;

  &:hover {
    background: rgba(255, 255, 255, 0.5);
  }
}

.title {
  font-weight: 700;
  font-size: fcSize(18, 22);
  margin-bottom: 0.2em;
}
