.button {
  svg {
    transition: all 0.3s;
  }
  &,
  &_unClicked,
  &_clicked {
    border: 1px solid var(--grayLv2);
    width: 3.4rem;
    height: 3.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    border-radius: 0.8rem;
    transition: all 0.3s;
    font-size: 0.8em;
    color: var(--primary);
  }

  &_clicked {
    width: fit-content;
    span {
      margin-left: 0.4em;
    }
    svg {
      animation: rotate 0.15s both;
    }
  }
  &_unClicked {
    svg {
      animation: rotate2 0.15s both;
    }
  }
  &_clicked,
  &_unClicked,
  &:hover {
    border-color: rgba(var(--primary-rgb), 0.5);
    svg {
      fill: var(--primary);
    }
  }
  &:hover {
    background-color: rgba(var(--primary-rgb), 0.1);
  }

  &.reset_clicked {
    width: fit-content;
    span {
      margin-left: 0.4em;
    }
    svg {
      animation: rotate3 0.2s both;
    }
  }
}

@keyframes rotate {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes rotate2 {
  0% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes rotate3 {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
