.title {
  font-weight: 600;
  font-size: 2rem;
  margin: 2rem 0 1rem;
}
.shelf {
  margin-top: 2rem;
  background-color: var(--background);
  background-image: linear-gradient(
    to bottom,
    var(--background) 24rem,
    var(--grayLv1) 25rem,
    var(--background) 25rem,
    var(--grayLv1) 26rem,
    var(--grayLv2) 26.2rem,
    rgba(0, 0, 0, 0.2) 26.2rem,
    var(--background) 26.3rem
  );

  background-size: 100% 28rem;
  background-repeat: repeat-y;
  padding-bottom: 4rem;

  .books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 0;

    li {
      flex-shrink: 0;
      display: flex;
      align-content: center;
      justify-content: flex-start;
      a {
        display: block;
        transition: all 0.3s;
        padding: 1rem 0.1rem 0;

        img {
          width: auto;
          height: 24rem;
          border: 1px solid #eee;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
          margin: 0 0.1rem;
        }
      }
      &:hover {
        a {
          transform: translateY(-3%) scale(1.1);
          transform-origin: 50% 100%;
        }
      }
    }
  }
}
