.likeButton {
  &.showText {
    display: flex;
    align-items: center;
    gap: 0.4em;
    font-size: 0.95em;

    color: var(--grayLv4);
    transition: all 0.3s;

    .liked {
      color: var(--error);
    }

    &:hover {
      color: var(--error);
    }
  }
  position: relative;
  svg {
    transition: all 0.3s;
  }
  &:hover {
    svg {
      fill: var(--error);
    }
  }
}

.floatingHeart {
  position: absolute;
  pointer-events: none;
  animation: float-and-fade 1s ease-out forwards;
}

@keyframes float-and-fade {
  0% {
    transform: translateY(0) scale(1) rotate(-20deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-100px) scale(2) rotate(20deg);
    opacity: 0;
  }
}
